In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
def load_datasets():
    """Load all datasets from the datasets folder"""
    users = pd.read_csv('datasets/users.csv')
    items = pd.read_csv('datasets/items.csv')
    events = pd.read_csv('datasets/events.csv')

In [3]:
users = pd.read_csv('datasets/users.csv')
users.head()

   user_id country
0        0     USA
1        1     USA
2        2   Italy
3        3   Japan
4        4   Italy

In [4]:
items = pd.read_csv('datasets/items.csv')
items.head()

   item_id category    hair   eyes
0        0    flirt     red   blue
1        1    dance   brown   blue
2        2       dj     red  brown
3        3    flirt  blonde  brown
4        4       dj     red  brown

In [5]:
events = pd.read_csv('datasets/events.csv')
events.head()

   user_id  item_id   timestamp
0        0       34  1607590072
1        0       26  1607590260
2        0      187  1607590503
3        0       86  1607591006
4        0      111  1607591526

from the above data, I can see that item is performer with relavent features like hair, eyes and what they perform is defined in the category column..

Users are the viewers from different countries.

Events are the interactions of users with performers.

In [7]:
full_df = events.merge(users, on='user_id', how='left')\
                 .merge(items, on='item_id', how='left')
full_df.head()

   user_id  item_id   timestamp country category    hair   eyes
0        0       34  1607590072     USA    flirt     red  brown
1        0       26  1607590260     USA    dance   brown  green
2        0      187  1607590503     USA    dance     red   blue
3        0       86  1607591006     USA    dance     red   blue
4        0      111  1607591526     USA    flirt  blonde  green

In [11]:
# Convert timestamp to datetime
full_df['datetime'] = pd.to_datetime(full_df['timestamp'], unit='s')
full_df.head()

,user_id,item_id,timestamp,country,category,hair,eyes,datetime
0,0,34,1607590072,USA,flirt,red,brown,2020-12-10 08:47:52
1,0,26,1607590260,USA,dance,brown,green,2020-12-10 08:51:00
2,0,187,1607590503,USA,dance,red,blue,2020-12-10 08:55:03
3,0,86,1607591006,USA,dance,red,blue,2020-12-10 09:03:26
4,0,111,1607591526,USA,flirt,blonde,green,2020-12-10 09:12:06

In [27]:
print("Categories: ",full_df.category.unique())
print("Hair types: ",full_df.hair.unique())
print("Eyes types: ",full_df.eyes.unique())
print("total records: ",len(full_df))
print("distinct users",full_df.user_id.nunique())

Categories:  ['flirt' 'dance' 'dj']
Hair types:  ['red' 'brown' 'blonde']
Eyes types:  ['brown' 'green' 'blue']
total records:  16077
distinct users 399

In [14]:
full_df.groupby(['user_id','item_id','session_id']).size().reset_index(name='count')

array(['red', 'brown', 'blonde'], dtype=object)

In [21]:
print("distinct items: ",items.item_id.nunique())
print("total items: ",len(items))

distinct items:  200
total items:  200

In [28]:
items.head(2)

   item_id category   hair  eyes
0        0    flirt    red  blue
1        1    dance  brown  blue

In [26]:
# Sort values directly on the Series object without 'by' parameter
items.groupby(['category', 'hair', 'eyes']).size().sort_values(ascending=False).reset_index(name='count')

   category    hair   eyes  count
0     dance  blonde  green     12
1     flirt   brown   blue     12
2     dance     red  green     11
3        dj  blonde  green     11
4     flirt     red  green     11
5     dance   brown  green     11
6     dance  blonde   blue      9
7     flirt  blonde   blue      9
8        dj   brown   blue      8
9     flirt  blonde  brown      8
10       dj     red  green      8
11    flirt     red  brown      7
12    dance     red   blue      7
13       dj  blonde   blue      7
14    flirt   brown  green      7
15    dance   brown   blue      7
16    flirt  blonde  green      6
17    flirt   brown  brown      6
18       dj  blonde  brown      6
19       dj   brown  green      6
20    dance     red  brown      5
21    dance  blonde  brown      5
22    dance   brown  brown      5
23       dj     red   blue      4
24       dj     red  brown      4
25       dj   brown  brown      4
26    flirt     red   blue      4

### Analyse()
Considering two sessions of the same user separate if there is a gap of >= 8 hours between two events, remove duplicate visits of the same item within the session(keep only the first) and excluding sessions with only a single event, output the following information about the dataset:
- Number of sessions
- Average (mean) number of events per session
- Histogram of session lengths in 10 bins
- Category with highest bounce rate (most often occurring as the last event within a session).
- Country with highest average visit count per user
- Performer with most visits by each category

In [65]:
events = pd.read_csv('datasets/events.csv')

In [44]:
print("Events: ",len(events))
events.head(2)

Events:  16077

   user_id  item_id   timestamp
0        0       34  1607590072
1        0       26  1607590260

In [45]:
# Sort values directly on the Series object without 'by' parameter
events.groupby(['user_id', 'item_id', 'timestamp']).size().sort_values(ascending=False).reset_index(name='count')

       user_id  item_id   timestamp  count
0          499      199  1607536718      1
1            0        3  1607592538      1
2            0       14  1607596646      1
3            0       26  1607590260      1
4            0       26  1607594053      1
...        ...      ...         ...    ...
16072        0      100  1607596139      1
16073        0      102  1607592038      1
16074        0      102  1607592523      1
16075        0      105  1607596882      1
16076        0      109  1607595627      1

[16077 rows x 4 columns]

In [46]:
print("event users: ",events.user_id.unique())
print("distinct users: ",events.user_id.nunique())
print()
print("total users: ", users.user_id.unique())
print("distinct users in users: ",users.user_id.nunique())
print("distinct countries: ",users.country.nunique())

event users:  [  0   1   2   3   4   6   7   9  10  11  13  15  16  17  20  21  22  23
  24  25  26  27  28  29  30  31  32  33  34  36  37  39  40  41  42  45
  46  47  48  49  51  53  55  57  60  61  62  63  64  65  66  67  68  69
  70  71  72  73  75  76  77  78  79  80  81  82  83  85  86  87  89  90
  91  93  94  96  98  99 100 101 102 103 104 105 107 109 110 112 113 114
 116 117 119 121 122 123 125 126 127 128 129 130 132 135 136 137 138 139
 140 141 142 144 146 148 149 150 151 152 153 154 156 157 158 159 160 163
 164 166 167 168 169 170 171 172 174 175 176 177 178 179 180 181 182 183
 184 185 186 187 188 189 191 192 193 194 195 196 197 198 199 200 202 203
 204 205 206 207 209 210 211 212 213 214 215 216 217 218 219 220 221 223
 224 225 226 227 228 229 231 232 234 236 237 238 239 240 241 242 243 244
 246 249 250 251 252 253 254 255 256 257 258 259 264 265 266 267 268 270
 271 272 273 274 275 276 279 280 281 282 283 284 285 286 287 288 289 291
 292 294 295 296 298 299 302 303 304 305 306 307 309 310 311 312 313 314
 315 316 317 318 319 321 322 323 324 327 328 329 330 331 333 334 335 336
 337 338 339 340 341 342 343 344 345 346 347 350 351 352 353 354 355 356
 358 359 361 362 365 366 367 370 372 373 374 375 376 379 380 381 382 383
 385 386 387 389 390 391 392 393 394 396 397 398 399 400 401 402 404 405
 406 407 408 409 411 412 413 416 417 419 420 421 422 423 424 425 426 427
 428 429 431 432 434 435 436 437 439 440 441 442 443 444 445 446 447 448
 449 450 451 453 454 455 456 457 458 459 460 462 463 464 466 468 469 470
 473 474 475 477 478 479 481 482 485 486 487 488 489 491 492 493 495 496
 497 498 499]
distinct users:  399

total users:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499]
distinct users in users:  500
distinct countries:  7

In [47]:
events.groupby(['user_id', 'item_id']).size().sort_values(ascending=False).reset_index(name='count')

       user_id  item_id  count
0          460      123      7
1           13      199      6
2          402       94      6
3          232       50      6
4          450      131      5
...        ...      ...    ...
13560        0      120      1
13561        0      132      1
13562        0      138      1
13563        0      143      1
13564        0      151      1

[13565 rows x 3 columns]

In [48]:
def process_sessions(events_df):
    """Process events to create session IDs based on 8-hour inactivity threshold per user-item pair.
    
    Args:
        events_df: DataFrame containing columns ['user_id', 'item_id', 'timestamp']
        
    Returns:
        DataFrame with added 'session_id' column
    """
    # Convert to datetime if not already
    events_df['datetime'] = pd.to_datetime(events_df['timestamp'])
    
    # Sort by user-item-time
    events_df = events_df.sort_values(['user_id', 'item_id', 'datetime'])
    
    # Calculate time differences within user-item groups
    events_df['time_since_last'] = events_df.groupby(['user_id', 'item_id'])['datetime'].diff()
    
    # Convert time difference to hours
    events_df['hours_since_last'] = events_df['time_since_last'].dt.total_seconds() / 3600
    
    # Create session markers (True when gap >=8 hours or first event)
    events_df['new_session'] = events_df['hours_since_last'] >= 8
    events_df['new_session'] = events_df['new_session'].fillna(True)  # Mark first in group as new session
    
    # Create session IDs using cumulative sum within user-item groups
    events_df['session_id'] = events_df.groupby(['user_id', 'item_id'])['new_session'].cumsum().astype(int)
    
    # Cleanup intermediate columns
    return events_df.drop(columns=['time_since_last', 'hours_since_last', 'new_session'])

In [49]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16077 entries, 0 to 16076
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    16077 non-null  int64
 1   item_id    16077 non-null  int64
 2   timestamp  16077 non-null  int64
dtypes: int64(3)
memory usage: 376.9 KB

In [50]:
session_df = process_sessions(events)
session_df.head(2)

    user_id  item_id   timestamp                      datetime  session_id
9         0        3  1607592538 1970-01-01 00:00:01.607592538           0
23        0       14  1607596646 1970-01-01 00:00:01.607596646           0

In [71]:
events['datetime'] = pd.to_datetime(events['timestamp'], unit='s')    

# Sort by user_id and timestamp
events = events.sort_values(by=["user_id", "timestamp"])

# Calculate time difference between consecutive events
events['hours_since_last'] = events.groupby('user_id')['datetime'].diff().dt.total_seconds() / 3600

# Identify new sessions (time_diff > 8 hours)
events['new_session'] = (events['hours_since_last'] >= 8 ).fillna(True)

# Assign session IDs
events['session_counter'] = events.groupby('user_id')['new_session'].cumsum()
events['session_id'] = events['user_id'].astype(str)+'-'+events['session_counter'].astype(str)
events

,user_id,item_id,timestamp,datetime,hours_since_last,new_session,session_id,session_counter
0,0,34,1607590072,2020-12-10 08:47:52,NaN,False,0-0,0
1,0,26,1607590260,2020-12-10 08:51:00,0.052222,False,0-0,0
2,0,187,1607590503,2020-12-10 08:55:03,0.067500,False,0-0,0
3,0,86,1607591006,2020-12-10 09:03:26,0.139722,False,0-0,0
4,0,111,1607591526,2020-12-10 09:12:06,0.144444,False,0-0,0
...,...,...,...,...,...,...,...,...
16072,499,10,1608042115,2020-12-15 14:21:55,0.120278,False,499-2,2
16073,499,76,1608042367,2020-12-15 14:26:07,0.070000,False,499-2,2
16074,499,99,1608042850,2020-12-15 14:34:10,0.134167,False,499-2,2
16075,499,198,1608043346,2020-12-15 14:42:26,0.137778,False,499-2,2
16076,499,148,1608043470,2020-12-15 14:44:30,0.034444,False,499-2,2

In [79]:
events[(events['user_id'] == 2)]

,user_id,item_id,timestamp,datetime,hours_since_last,new_session,session_id,session_counter,bounce_flag
62,2,99,1607883014,2020-12-13 18:10:14,NaN,False,2-0,0,0
63,2,19,1607883417,2020-12-13 18:16:57,0.111944,False,2-0,0,0
64,2,33,1607883934,2020-12-13 18:25:34,0.143611,False,2-0,0,0
65,2,4,1607883959,2020-12-13 18:25:59,0.006944,False,2-0,0,0
66,2,140,1607884411,2020-12-13 18:33:31,0.125556,False,2-0,0,0
67,2,105,1607884444,2020-12-13 18:34:04,0.009167,False,2-0,0,0
68,2,175,1607884838,2020-12-13 18:40:38,0.109444,False,2-0,0,0
69,2,111,1607885012,2020-12-13 18:43:32,0.048333,False,2-0,0,0
70,2,123,1607885312,2020-12-13 18:48:32,0.083333,False,2-0,0,0
71,2,5,1607885464,2020-12-13 18:51:04,0.042222,False,2-0,0,0
72,2,99,1607885933,2020-12-13 18:58:53,0.130278,False,2-0,0,0
73,2,46,1607886364,2020-12-13 19:06:04,0.119722,False,2-0,0,0
74,2,127,1607886612,2020-12-13 19:10:12,0.068889,False,2-0,0,0
75,2,192,1607886890,2020-12-13 19:14:50,0.077222,False,2-0,0,0
76,2,156,1607887403,2020-12-13 19:23:23,0.142500,False,2-0,0,1
77,2,188,1607928995,2020-12-14 06:56:35,11.553333,True,2-1,1,0
78,2,103,1607929277,2020-12-14 07:01:17,0.078333,False,2-1,1,0
79,2,71,1607929571,2020-12-14 07:06:11,0.081667,False,2-1,1,0
80,2,47,1607929738,2020-12-14 07:08:58,0.046389,False,2-1,1,0
81,2,129,1607929885,2020-12-14 07:11:25,0.040833,False,2-1,1,1
82,2,70,1607992853,2020-12-15 00:40:53,17.491111,True,2-2,2,0
83,2,79,1607992887,2020-12-15 00:41:27,0.009444,False,2-2,2,0
84,2,152,1607992936,2020-12-15 00:42:16,0.013611,False,2-2,2,0
85,2,188,1607993355,2020-12-15 00:49:15,0.116389,False,2-2,2,0
86,2,60,1607993530,2020-12-15 00:52:10,0.048611,False,2-2,2,0
87,2,171,1607994122,2020-12-15 01:02:02,0.164444,False,2-2,2,0
88,2,13,1607994565,2020-12-15 01:09:25,0.123056,False,2-2,2,0
89,2,91,1607994693,2020-12-15 01:11:33,0.035556,False,2-2,2,0
90,2,197,1607995147,2020-12-15 01:19:07,0.126111,False,2-2,2,0
91,2,181,1607995637,2020-12-15 01:27:17,0.136111,False,2-2,2,0
92,2,122,1607995912,2020-12-15 01:31:52,0.076389,False,2-2,2,0
93,2,7,1607996311,2020-12-15 01:38:31,0.110833,False,2-2,2,1

In [77]:
print("Total number of sessions: ",len(events.groupby('session_id')))

Total number of sessions:  1064

In [76]:
print(events.groupby('session_id')['item_id'].count())

print(events.groupby('session_id')['item_id'].nunique())

print("\n Average number of events per session: ",events.groupby('session_id')['item_id'].count().mean())

print("\n Average number of unique events per session: ",events.groupby('session_id')['item_id'].nunique().mean())

session_id
0-0     26
0-1      3
0-2      7
1-0     26
10-0     1
        ..
99-0    28
99-1    12
99-2     9
99-3    22
99-4    22
Name: item_id, Length: 1064, dtype: int64
session_id
0-0     23
0-1      3
0-2      7
1-0     23
10-0     1
        ..
99-0    27
99-1    11
99-2     9
99-3    22
99-4    22
Name: item_id, Length: 1064, dtype: int64

 Average number of events per session:  15.109962406015038

 Average number of unique events per session:  14.199248120300751

In [78]:
# Using window function (preferred approach)
events['bounce_flag'] = (events.groupby('session_id')['datetime']
                        .transform('max') == events['datetime']).astype(int)
events.head()

,user_id,item_id,timestamp,datetime,hours_since_last,new_session,session_id,session_counter,bounce_flag
0,0,34,1607590072,2020-12-10 08:47:52,NaN,False,0-0,0,0
1,0,26,1607590260,2020-12-10 08:51:00,0.052222,False,0-0,0,0
2,0,187,1607590503,2020-12-10 08:55:03,0.067500,False,0-0,0,0
3,0,86,1607591006,2020-12-10 09:03:26,0.139722,False,0-0,0,0
4,0,111,1607591526,2020-12-10 09:12:06,0.144444,False,0-0,0,0